dist
node_modules
multiplayer
public
screenshots
coverage
php-integration
bun.lock
package-lock.json
*.md
*.tsbuildinfo
*.php
*.glsl
*.sh
*.bin
*.ktx2
*.hdr
*.wasm
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.mp3
*.ogg
*.wav
*.woff
*.woff2
